<html lang="en">
    <%- include('./partials/head.ejs')  %>
    <body>

  
        <%- include('./partials/nav.ejs') %>
        <div class ="blogs content">
            <h2>ABOUT ME</h2>
            <p>I am samir bogati . I am learning how to make a website from react, node js , javascript. I am trying my level best to learn new things everyday .</p>
                   
        <br/><br/><br/>

        <p>I just completed my bachelors in computer engineering. I completed my computer engineering from KATHMANDU ENGINEERING COLLEGE, KALIMATI.</p>
        
        </div>
           <%- include('./partials/footer.ejs')  %>
     </body>
</html>